h1{ text-align: justify;
}

.normal{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.light{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.thick{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder ;  
}

.thicker{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900; 
}

#Observacao{
    color:rebeccapurple
}