body{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: seagreen;
}


.xyz1{ text-align: center; border-width: medium; border-color: black; border-style: solid; 

}