div{
    width: 200px;
    height: 150px;
    background-color: aquamarine;
    position: relative;
   
    text-align: center;
    
    padding: 20px;
    margin-right:auto;
    margin-left: auto; 
    display: block;
}